body{
direction: ltr;
font-family: 'Lato', sans-serif;
color: #808080;
}
.bg-dark {
    background-color: rgba(255,255,255,0)!important;
}
.navbar-dark .navbar-nav .nav-link{
    text-transform: uppercase;
    font-size: 18px;
    padding:15px 25px;
}
.navbar-dark .navbar-nav .nav-link:hover{
    text-decoration: underline;
}
.mainSection{
    width: 100%;
    height: 980px;
}
.mainSection h1 {
    color: white;
    font-size: 72px;
    font-weight: bold;
}
.mainSection span{
    color: white;
    font-size: 24px;
    display: block;
    margin-top:40px;
    margin-bottom: 100px;
}
.mainSection a.btn-light{
    background: white;
    color: #d90746;
    border-radius: 25px;
    height: 50px;
    line-height: 36px;
    font-size: 18px;
    font-weight: bold;
    padding-right:50px;
    padding-left: 50px;
}
.mainSection a.btn-light:hover{
    background: transparent;
    color: white;
    border: 1px solid white;
}
.mainSection .container,
.mainSection .container .row{
    height: 980px;
}
.absoluteBg{
    width: 100%;
    height: 980px;
    background: linear-gradient(to bottom,#d90746,#eb3f2d );
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 75%, 0 90%);
    clip-path: polygon(0 0, 100% 0%, 100% 75%, 0 90%);
    position: absolute;
}
.section{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #e0e0e0;
}
.redColor{
    color: #e1203b;
}
.section h2{
    color: #363636;
    font-size: 60px;
    font-weight: bold;
    margin-top: 90px;
    text-align: center;
}
.section .featuresItem h2{
    text-align: left;
    margin-top: 0px;
}
p.featuresDesc{
    font-size: 18px;
    color: #808080;
}
.speechBulbble{
    width: 100%;
    border: 1px solid #e0e0e0;
    height: auto;
    max-height: 210px;
    padding: 30px;
}
.speechBulbble p{
    font-style: italic;
    color: #808080;
    font-size: 18px;
    height:auto;
    max-height: 112px;
    overflow: hidden;
}
.testimonialDesc{
    width: 100%;
    height: auto;
    margin-top:20px;
}
.testimonialImg{
    border-radius: 50%;
    height: 65px;
    width: 65px;
}
.testimonialInfo{
    padding-left: 15px;
}
.testimonialInfo h3{
    font-size:18px;
    color: #363636;
    margin-top: 7px;
}
.testimonialInfo span{
    color: #667386;
    font-size: 16px;
}







@media (max-width: 992px) { 
    .featuresItem{
        text-align: center;
    }
    .section h2{
        margin-top:40px;
    }
}